@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

body {
  @apply bg-neutral-900 text-neutral-100 antialiased selection:bg-indigo-500/30;
  margin: 0;
  padding: 0;
}

@keyframes wave {
  0% { transform: rotate(0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60%, 100% { transform: rotate(0.0deg) }
}

.animate-wave {
  animation: wave 2.5s infinite;
  transform-origin: 70% 70%;
}
